.element {margin:20px;padding:20px;background:#eee;float:left;clear:both;font-family:Helvetica,Arial;font-size:14px;}
.element td,
.element th {padding:4px 20px;}
.element tr:nth-child(odd) {background:#f8f8f8;}
.element td.label {min-width:80px;}
.element td.value {min-width:80px;}
.element td.value.inactive {color:#f00;}
.element td.value.active {color:#00BB3B;}
.element th {text-align:left;}
